.CriteriaForm {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CriteriaForm .year {
  margin-left: 20px;
}

.CriteriaForm #year {
  width: 50px;
}

.CriteriaForm button {
  margin-left: 10px;
}

.CriteriaForm label {
  margin-right: 5px;
  font-family: "Hind", sans-serif;
}
