.CriteriaForm {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.CriteriaForm div {
  display: flex;
  margin-bottom: 10px;
}

.CriteriaForm button {
  width: 50%;
}

.CriteriaForm select,
.CriteriaForm input {
  border-radius: 5px;
  background-color: #083449;
  color: white;
  border: 1px solid white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.CriteriaForm .year {
  margin-left: 10px;
}

.CriteriaForm #year {
  width: 50px;
}

.CriteriaForm .votes {
  margin-left: 10px;
}

.CriteriaForm #votes {
  width: 50px;
}

.CriteriaForm button {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #083449;
  color: white;
  border: 1px solid white;
}

.CriteriaForm label {
  margin-right: 5px;
  font-family: "Hind", sans-serif;
}

@media only screen and (min-width: 768px) {
  .CriteriaForm button {
    width: 25%;
  }
}
