.Footer .information {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  /* height: 80px; */
  align-items: center;
  width: 60%;
}

.Footer .click:hover {
  cursor: pointer;
}

.Footer {
  background-color: #083449;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  height: 50px;
  font-family: "Hind", sans-serif;
}

.Footer .copyright {
  color: rgb(194, 188, 188);
}

/* .Footer .copyright {
  margin-bottom: 20px;
} */

@media only screen and (min-width: 768px) {
  .Footer .information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;
  }
  .Footer {
    height: 100px;
  }
  .Footer .copyright {
    margin-bottom: 20px;
  }
}
