.MovieCard {
  list-style: none;
  width: 200px;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 2px;
  font-family: "Hind", sans-serif;
  font-size: 17px;
}
.MovieCard img {
  height: 250px;
  margin: 5px;
  border: 2px solid rgb(82, 82, 82);
}
.MovieCard:hover {
  background-color: rgb(12, 51, 66);
}

.MovieCard .cardtitle {
  margin-top: 10px;
}
