.MovieList ul {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  /* justify-content: space-evenly; */
  margin: 0 7%;
}

/* @media only screen and (min-width: 768px) {
  .MovieList ul {
    margin: 0 5%;
  }
} */
