.MovieList ul {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: thin;
  margin: 0 7%;
}

.MovieList ul::-webkit-scrollbar {
  background-color: #083449;
  border-radius: 10px;
}

.MovieList ul::-webkit-scrollbar-thumb {
  background-color: hotpink;
  border-radius: 10px;
}

.MovieList ul::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.2);
}
