/* resets */

body,
h1,
ul {
  margin: 0;
  padding: 0;
}

.fa-star {
  color: rgb(201, 164, 61);
  font-size: larger;
}
.fa-star:hover {
  cursor: pointer;
}

body {
  background-color: rgb(18, 18, 18);
  color: white;
}
